<h1>Artists</h1>

<div class="filter-items"><%= link_to "Order by Name", order_by_name_artists_path %></div>
<div class="filter-items"><%= link_to "Order by Latest", order_by_date_artists_path %></div>

<ul class="artists">
  <% @artists.each do |artist| %>
      <% @artist = artist %>
      <li class="artist-box">
        <% @artist.photos.each do |photo| %>
            <%= link_to artist_path(artist.id) do %>
                <%= image_tag photo.image, :class => "imagelink" %>
                <div class="artist-name"><%= artist.name %></div>
            <% end %>
        <% end %>
      </li>
  <% end %>
</ul>