<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header"><%= @artist.name %></h1>

    <% if notice.present? %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <p>songs:<br>
      <% @artist.songs.each do |song| %>
          <%= song.name %><br>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="well">
    <h4>Add a new song for <%= @artist.name %></h4>
    <%= render "songs/form" %>
  </div>

  <hr>

  <div class="container">
    <div class="well">
      <h4>Delete songs <%= @artist.name %></h4>
      <%= render "songs/show" %>
    </div>

